include requirements.txt
include MANIFEST.in
include LICENSE
include NOTICE/*
include README.md
include workflow_idea.png
include pynta/license/banner.txt
include pynta/excatkit/README.md
include pynta/excatkit/CODEOWNERS
